#local package install 
-e .

# third party version control
dvc
dvc[gdrive]

# ml packages
scikit-learn

# testing
pandas

# automate testing
pytest
wheel
tox

#wrapper: pep8 for checking style. pyflakes for checking syntax. mccabe for checking complexity.
flake8

# web application
flask
gunicorn
